/* Style Navbar */
*{
  margin: 0;
  padding: 0;
  }
  .Navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    text-decoration:  none;

  }
.n1{
  color: white;
  text-decoration: none;
}
.logo{
  width: 10%;
  
}
/* Style Homepage */
.Homepage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./Images/background.png")  ;
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.Homeheader{
color: #FFB6B6 ;
text-align: center;
font-weight: 700;
}
.Order-button{
  margin:3rem;
  background-color: #FF0000;
  color: #FFFFFF;
   width: 20%;
   height: 5%;
   text-align: center;
  
}
/* style catalog  */
.Ourcatalog{
  
  background-image: url("./Images/background.png")  ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 90vh;
  color: white;




}
.sec{
  width:  60vh;
  display: flex;

}
.gray-line{
  color: #B5B5B5;
}
.Ctalog-header{
  color:#FFB6B6;
}
.btn-plus{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}