/* Style Navbar */
*{
  margin: 0;
  padding: 0;
  }
  .Navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    text-decoration:  none;

  }
.n1{
  color: white;
  text-decoration: none;
}
.logo{
  width: 10%;
  
}
/* Style Homepage */
.Homepage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./Images/background.png")  ;
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.Homeheader{
color: #FFB6B6 ;
text-align: center;
font-weight: 700;
}
.Order-button{
  margin:3rem;
  background-color: #FF0000;
  color: #FFFFFF;
   width: 20%;
   height: 5%;
   text-align: center;
  
}
/* style catalog  */
.Ourcatalog{
  
  background-image: url("./Images/background.png")  ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 90vh;
  color: white;




}
.flex-section{
  display: flex;

}
.gray-line{
  color: #B5B5B5;
}
.Ctalog-header{
  color:#FFB6B6;
}
.btn-plus{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
.container-section{
  justify-content: space-between;
}
.left-flex{
  margin-left: 1rem;
}
/* style cart */
.cart{
  display: flex;
  flex-direction: column;
  background-image: url("./Images/Mycartbackground.png")  ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;

}
.Cart_container{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #F4F4F4;
  width: 30vw;
  height: 40vh;
  padding: 2rem;
}
.mycart-header{
  text-align: center;

}
.next{
  
   width: 6rem;
height:2.25rem;
background-color: #FF0000;
color: white;
font-weight: 600;
align-items: flex-end;

}
.cartmycart{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* style personal details */
.feilds{
  display: flex;
}
.details-right{
  margin-left: 1rem;
}
 .container-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./Images/Mycartbackground.png")  ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 90vh;

  
}
.check-out-button{
  width: 6rem;
  height:2.25rem;
  background-color: #FF0000;
  color: white;
  font-weight: 600;
  align-items: flex-end;
  
}
/* style extra selector */
.container-section-1{
  display: flex;
  background-image: url("./Images/SelectedExtraBackground.png")  ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;


}
.Cart_container-1{
  justify-content: center;
  align-items: center;
  background-color: #F4F4F4;
  width: 20vw;
  height: 30vh;
  padding: 2rem;

}
/* style Checkout */
.Checkout_container{
  display: flex;
  background-image: url("./Images/SelectedExtraBackground.png")  ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;

}
.Cart_checkout{
  background-color: white;
}
.Credit_card_feilds{
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border:  1px solid #ced4da;
  transition:border-color .15s ;
}
.Finish-button{
  width: 6rem;
  height:2.25rem;
  background-color: #FF0000;
  color: white;
  font-weight: 600;
  align-items: flex-end;


}
@media screen  and (min-width:300px)  and (max-width:500px) {
  input{
    width: 30vw;
  }
  .container-details{
    display: flex;
    justify-content: space-around;
flex-direction: column;
  }
  .feilds{
    height: 60vh;
    flex-direction: column;
    margin-bottom: 2.5rem;
  }
  /* .details-right{
    margin-left: 0;
  } */
  .left-flex{
    margin-left: 0;
  }
  .personal-data-header{
    font-size:1rem ;
  }
  .Cart_container{
    height: 60vh;
    padding: 3rem;
  }
  /* .container-section{
    display: flex;
    flex-direction: column;
  } */
  .flex-section{
    display: flex;
    flex-direction: column;
  
  }
  .container-section-1{
    background-image: url("./Images/res.png")  ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
  
  
  }
  .Credit_card_feilds{
    /* padding: .375rem .75rem; */
    font-size: 1rem;
    /* line-height: 1.5; */
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border:  1px solid #ced4da;
    transition:border-color .15s ;
  }
  .Cart_container{
    height: 60vh;
    padding: 3rem;
  }
  .Cart_checkout{
    background-color: white;
    width: 20vw;
  }
  /* .rccs__card{
    height: 10rem;
  }
   */

  
  
  
  
  
}