/* Style Navbar */
*{
  margin: 0;
  padding: 0;
  }
  .Navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    text-decoration:  none;

  }
.n1{
  color: white;
  text-decoration: none;
}
.logo{
  width: 10%;
  
}
/* Style Homepage */
.Homepage{
  background-image: url("./Images/background.png")  ;
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
